.search-bar{
    width: 60%;
    background-color: white;
    position: sticky;
    top:20px;
    border: 1.2px solid rgba(92, 92, 92, 0.441);
    border-radius: 3px;  
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    height: 50px;
    border-radius: 50px;
    font-size: 1.1rem;

}

.search-bar input{
    flex-grow: 1;
    height: 35px;
    border: none;
    outline: none;
}

.search-list{
    position: absolute;
    width: 100%;
    background-color: rgb(255, 255, 255);
    top: 60px;
    left:2px;
    z-index: 1;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.search-list li{
    padding: 10px;
}
.search-list li:hover{
    background-color: rgb(0, 0, 0);
    color: white
}

@media (max-width: 700px){
    .search-bar{
        width: 90%;
    }
}
